
.row{
  border: 1px solid #082105;
  height: 500px ;
  display: flex;
  margin: auto;
  width: 1200px;
  margin-top: 40px;
}


#lazy{
  border: 1px solid#19570a;
  height: 500px;
  width: 600px;
}
.text{
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
  padding: 0 80px 0 80px;
}
.row img{
  padding-left: 250px;
  padding-top: 20px;
}
#visa{
  border: 1px solid#19570a;
  height: 500px;
  width: 600px;
  margin-top: 0px;
}
.lazy-text{
  padding: 150px 400px 0 50px;
  line-height: 70px;
  font-size: 30px;
  text-align: justify;
  position: relative;
}
img.akpos{
  margin-top: -380px;
  margin-left: -150px;
  height: 500px;
  width: auto;
}
.vis{
  border: 1px solid#19570a;
  height: 250px;
  width: 400px;
  margin: auto;
  margin-top: 1px;
  background: url(../img/visa.jpg) no-repeat center center;
  background-size: cover;
}